@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:opsz,wght@14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1f1f1f;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-image: url(images/image.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 78vh;
    display: flex;
    align-items: center;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    margin-top: 10px;
    width: 135px;
    height: 130px;
    border-radius: 50%;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
}

.menu .navbar ul li a:hover{
    background-color: #ffffff;
    color: #860bd8;
    border-radius: 50px;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-txt{
    text-align: center;
    margin-bottom: 45px;
}

.header-txt h1, span, h3{
    font-size: 110px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    color: #860bd8;
    margin-top: 120px;
}

.header-txt span{
    font-size: 50px;
    color: #d7d8e3;
}

.header-txt p{
    color: #afafaf;
    padding: 0 250px;
    margin: 25px 0;
}

.btn-1{
    display: inline-block;
    padding: 11px 25px;
    background-color: #860bd8;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    margin: 25px 0;
}

.btn-1:hover{
    background-color: #9e24f0;
}

.header-dir{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
}

.dir h3{
    font-size: 18px;
}

.dir p{
    font-size: 22px;
    color: #ffffff;
    text-transform: uppercase;
}

.welcome{
    display: flex;
}

.welcome-1{
    background-image: url(images/image\ \(1\).jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.welcome-3{
    background-image: url(images/image\ \(7\).png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.welcome-2{
    width: 50%;
    padding: 150px 250px 150px 100px;
}

.span{
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
}

h2{
    font-size: 90px;
    line-height: 100px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 20px;
}

p{
    font-size: 16px;
    color: #afafaf;
    margin: 25px 0;
}

.services{
    padding: 100px 0;
    text-align: center;
}

.services-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr{
    border: 1px solid #860bd8;
    width: 80px;
}

.services-txt p{
    padding: 5px 150px;
}

.services-group{
    display: flex;
    justify-content: space-between;
}

.services-1{
    background-color: #070707;
    padding: 1px 25px;
    margin: 0 10px;
    border-radius: 15px;
}


.services-1 h3{
    font-size: 25px;
    color: #ffffff;
}

.prices{
    display: flex;
}

.prices-1{
    width: 50%;
    padding: 150px 250px 150px 100px;
    background-color: #191919;
}

.prices-2{
    background-image: url(images/image\ \(2\).jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.prices-3{
    background-image: url(images/image\ \(3\).jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.footer-bg{
    text-align: center;
    padding: 80px 0;
}

.footer-txt{
    text-align: center;
    padding: 10px;
    background-color: #070707;
}

@media(max-width:991px) {
    .menu{
        padding: 20px;
    }
    .menu label{
        display: initial;
    }
    .logo {
        width: 125px; 
        height: 110px;
        margin-bottom: 20px; 
        border-radius: 50%;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #1f1f1f;
        display: none;
    }
    .menu .navbar ul li{
        width: 100%;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }
    .header{
        min-height: 0vh;
    }
    .header-content{
        padding: 80px 30px 50px 30px;
    }
    .header-txt{
        margin-bottom: 15px;
    }
    .header-txt h1{
        font-size: 90px;
    }
    .header-txt p{
        padding: 0;
        margin: 15px 0;
    }
    .header-dir{
        flex-direction: column;
    }
    .dir p{
        font-size: 18px;
    }
    .welcome{
        flex-direction: column;
    }
    .welcome-1{
        display: none;
    }
    .welcome-2{
        width: 100%;
        padding: 30px;
        text-align: center;
    }
    .welcome-3{
        width: 100%;
        padding: 30px;
        text-align: center;
    }
    h2{
        font-size: 70px;
        line-height: 80px;
    }
    p{
        margin: 15px 0;
    }
    .services{
        padding: 30px;
    }
    .services-txt p{
        padding: 0;
    }
    .services-group{
        flex-direction: column;
        margin: 0;
    }
    .services-1{
        margin: 0 0 20px 0;
    }
    .prices{
        flex-direction: column;
    }
    .prices-1{
        width: 100%;
        padding: 30px;
        text-align: center;
    }
    .prices-2{
        display: none;
    }
    .prices-3{
        display: none;
    }
    .footer-bg{
        padding: 30px;
    
}
}